.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #e3fdfd;
}

h1 {
  margin: 30px;
  font-family: 'Dancing Script', cursive;
  text-shadow: 5px 0 #393e46;
  font-size: 8rem;
  color: #00adb5;
}

p {
  font-size: 2.5rem;
  color: #00adb5;
  font-family: 'Dancing Script', cursive;
}

img {
  width: 90%;
}

