.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #e3fdfd;
}

h1 {
  margin: 30px;
  font-family: 'Dancing Script', cursive;
  text-shadow: 5px 0 #393e46;
  font-size: 8rem;
  color: #00adb5;
}

p {
  font-size: 2.5rem;
  color: #00adb5;
  font-family: 'Dancing Script', cursive;
}

img {
  width: 90%;
}

button{
  background-color: #00adb5;
  color: white;
  font-size: 1.3rem;
  padding: 15px;
  outline: none;
  border: none;
  margin: 40px 0 0 45%;
  border-radius: 10px;
}

button:hover{
  background-color: white;
  border: 2px solid #00adb5;
  cursor: pointer;
  color: #00adb5;
}